html,body {
	margin:0;
	padding:0;
	background-color:black;
	font-family: 'Voltaire', sans-serif;
    font-size:12px !important;
}
canvas {
	image-rendering: optimizeSpeed;             /*                     */
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;          /* Firefox             */
	image-rendering: -o-crisp-edges;            /* Opera               */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
	image-rendering: optimize-contrast;         /* CSS3 Proposed       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
	cursor:none;
}
.ui-button-text {
   font-size:12px !important;
} 
td {
	text-align: center;
	vertical-align: top;
}
#login a {
	color: white;
}

/* Toolbar */
#toolbar {
	width: 220px;
	padding: 2px;
	display: inline-block;
    top: 5px;
    left: 5px;
    position: absolute;
    background-color: #bbb;
    overflow: hidden;
}
#toolbar #header {
    cursor: default;
    background: #bff3a4;
    -moz-box-shadow: 1px 1px 2px 0px #656565;
    -webkit-box-shadow: 1px 1px 2px 0px #656565;
    -o-box-shadow: 1px 1px 2px 0px #656565;
    box-shadow: 1px 1px 2px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.tb_label {
    cursor: default;
}
#actions {
    margin: 5px 0 5px 0;
}
#plane,
#penSize,
#painttools,
#slider {
    margin: 10px 0 5px 0;
}
#prevSlice,
#nextSlice {
    float: left;
    width: 30px;
}
#slider {
    float: left;
    width: 70%;
}
#slice {
    margin: 0 auto;
    width: 30px;
}
#slicetools {
    width: 100%;
}
label.paint,
label.erase,
label.fill,
button.undo {
    width: 50px;
    height: 26px;
}
label.paint {
    background: #fff url(../img/icon_draw.png) no-repeat center center !important;
}
label.erase {
    background: #fff url(../img/icon_erase.png) no-repeat center center !important;
}
label.fill {
    background: #fff url(../img/icon_fill.png) no-repeat center center !important;
}
button.undo {
    background: #fff url(../img/icon_undo.png) no-repeat center center !important;
    height: 28px;
}
button.undo_disabled {
    background: #fff url(../img/icon_undo_grayed.png) no-repeat center center !important;
}
#undocontainer {
    float: right;
    position: relative;
}
#undocontainer #num_undo {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 8px;
    color: #444;
}
#log {
    width: auto;
    margin: 0 0;
    height: 50px;
    border: 1px solid #777;
    overflow: auto;
    background-color: lightGrey;
}
#msg {
    width: 100%;
    border: 1px solid black;
}
#resizable {
    width:100%;
}
#canvas {
    width:100%;
    height:100%;
    cursor: none;
}
.drawingcursor {
    border: 1px solid #F00;
    position: absolute;
    
    pointer-events:none;
    background:url('../img/transparent.png');
}
.hidepaintcursor {
    display: none;
}
.buffer_containers {
    position: absolute;
    color:white;
    border: 1px solid #ccc;
    width: 350px;
    height: 200px;
    right: 0px;
}

#cursor {
	pointer-events: none;
	position:absolute;
	top:200;
	left:200;
	border:thin solid white;
}
#finger {
	position:absolute;
	top:200;
	left:250;
	width:40px;
	height:40px;
	border-style:solid;
	border-width:4px;
	border-radius:50%;
	display:none;
}
#finger.move {
    border-color:yellow;
}
#finger.draw {
    border-color:green;
}
#finger.configure {
    border-color:orange;
}
