* {
	margin: 0;
	padding: 0;
	color: #555;
}
html {height: 100%;}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font-family:'Droid Serif', serif;
	text-align:	justify;
	width: 100%;
	height: 100%;
    margin:0;
}
/* Wrapper
-----------------------------------------------------------------------------*/
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-left:100px;
	padding-right:100px;
	background-color:white;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	height:150px;
	line-height:100px;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 230px;

	margin: 0 0 18px;
	font-size: 1rem;
	line-height: 200%;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 100%;
	margin: -100px 0px 0;
	height: 100px;
	position: relative;
	text-align:	right;
	background-color:black;
	color:white;
}
h1 { font-family:'Voltaire', sans-serif;}
h2 {
	font-family:'Voltaire', sans-serif;
	font-size:	1rem;
	color:		#555;
}
p {
	margin: 0 0 18px;
	font-family: 'Droid Serif', serif;
	line-height: 150%;
}
#middle p {
		font-size: 1rem;
}
#footer a {
	color: orange;
}
.nodecoration {
	color:dimgrey;
	font-family: 'Voltaire', sans-serif;
	text-decoration:none;
}
/* Login
-----------------------------------------------------------------------------*/
#login {
	text-align:center;
	display:inline-block;
}
#login * {
	width:auto;
	font-family: 'Voltaire', sans-serif;
	font-size:1rem;
	margin:0.5rem;
	display:inline;
}
#login .hidden {
	display:none !important;
}
#login.loginbox {
	border:1px solid lightGrey;
	position:absolute;
	top:10px;
	left:-150px;
	background-color:white;
	padding:20px;
	max-width:80%;
	margin-left: 50%;
    width: 300px;
    line-height:20px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    z-index:20;
}
#login.loginbox * {
	color:black;
}
#login.loginbox #username,
#login.loginbox #e-mail,
#login.loginbox #password,
#login.loginbox #repassword,
#login.loginbox #registerLink,
#login.loginbox #remind,
#login.loginbox #warning {
	display:block;
}
#login.loginbox #username,
#login.loginbox #e-mail,
#login.loginbox #password,
#login.loginbox #repassword {
	width:90%;
}