/* Gallery pictures
-----------------------------------------------------------------------------*/
.square {
	float: left;
	display: inline;
	line-height:1em;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a.gallery {
	color:dimgrey;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	text-decoration:none;
}
.crop {
	width:200px;
	height:200px;
	overflow: hidden;
	position:relative;
}
.picture,.description {
	position:absolute;

	width:100%;

	height:100%;
	top:0;
	left:0;

}

.picture img{

	width:100%;

	filter:grayscale(80%) contrast(120%);
	-webkit-filter:grayscale(80%) contrast(120%);

}
.description {
	background:#fff;
	opacity:0;
	z-index:10;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	display:table;
}
.description h3 {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.description:hover {
	opacity:0.6;
}