#description a {
	color: #08c;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a.download {
	text-decoration:	none;
}
img.picture {
	width:100%;

	filter:grayscale(80%) contrast(120%);
	-webkit-filter:grayscale(80%) contrast(120%);

	line-height:1em;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
@media all and (min-width: 40em) {
	#stereotaxic {
		width:512px;
	}
	#surface {
		width:512px;
		height:512px;
	}
}
@media not all and (min-width: 40em) {
	#stereotaxic {
		width:100%;
	}
	/*
	#surface {
		width: 100%;
		height:100%;
		padding-bottom: 100%;
	}
	*/
}
#stereotaxic canvas {
	/*cursor:none;*/
}
#atlasMaker {
	position: relative;
}
#surface canvas {
	-webkit-background: radial-gradient(circle,#333,black);
	-moz-background: radial-gradient(circle,#333,black);
	-o-background: radial-gradient(circle,#333,black);
	background: radial-gradient(circle,#333,black);
}
input {
	vertical-align: middle;
}
div#name h1 {
	font-family:'Droid Serif', serif;
	font-weight:400;
}
div#data h2,
div#acknowledgements h2 {
	font-family:'Droid Serif', serif;
	font-size:1rem;
	line-height: 200%;
	margin-top:2rem;
}