<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><!--SPECIMEN--></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/lib/jquery-ui.css">
	<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/specimen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/atlasMaker.css"/>
	<style>
		.ui-slider {height:2px}
		.ui-slider-handle {height:10px !important}
	</style>
</head>

<body ontouchmove="blockScroll(event)">
<script>
function blockScroll(event){
	//event.preventDefault();
}
</script>

<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="myinner">
			<div id="title" class="cell">
				<h1 style="display:inline-block">
					<a class="menu nodecoration" href="/" target="_top">
						<span class="bcicon">a</span>  Brain Catalogue
					</a>
				</h1>
			</div>
			<div id="menu" class="cell">
					<span id="MyLogin"></span>
					<span>
						<a class="menu" href="blog">Blog</a>
						<a class="menu" href="about.html">About</a>
						<a class="menu" href="http://siphonophore.org/blog/?cat=3&feed=rss2"><i class="fa fa-rss"></i></a>
					</span>
					<!--
					<a class="menu" href=#><i class="fa fa-user"></i></a>
					<a class="menu" href=#><i class="fa fa-search"></i></a>
					<a class="menu" href=#><i class="fa fa-bars"></i></a>
					-->
			</div>
		</div><!-- .myinner -->
	</header><!-- #header -->

	<section id="middle">
		<div id="container">
			<div id="content">
			
				<!-- 3.1.1 Picture -->
				<aside id="sideLeft">
					<div id="picture"></div>
				</aside><!-- #sideLeft -->

				<!-- 3.1.2 Name -->
				<div id="name"></div>
				<br>
				
				<!-- 3.1.3 Description -->
				<div id="description"></div>

				<!-- 3.1.4 Data -->
				<!--DATAVIEW-->
				<div id="data"></div>
				
				<!-- 3.1.5 Acknowledgments -->
				<p><div id="acknowledgements"></div>
			</div><!-- #content-->
		</div><!-- #container-->

	</section><!-- #middle-->

</div><!-- #wrapper -->

<div style="margin-bottom:100px;"></div>

<footer id="footer">
	<div>
		<table>
		<tr>
		<td>
		<a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
		<img align="left" alt="Creative Commons License" src="/img/88x31.png" />
		</a>
		</td>
		<td>
		<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Brain Catalogue</span> by
		<a xmlns:cc="https://creativecommons.org/ns#" href="siphonophore.org/braincatalogue" property="cc:attributionName" rel="cc:attributionURL">Roberto Toro</a>
		is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
		</td>
		</tr>
		</table>
	</div>
</footer> <!-- footer -->

<script src="/lib/jquery-1.11.0.min.js"></script>
<script src="/lib/jquery-ui-1.10.4.custom.min.js"></script>
<script>
var info=JSON.parse('<!--INFO-->');
// load stored description from wikipedia
console.log("Object read from info.txt",info);
// Load image
$("div#picture").html("<img class='picture' src='/data/"+escape(info.name)+"/picture.jpg'/>");
// Load text
var description=info.description.commonName;
if(info.description.scientificName!=undefined)
	description+=" (<i>"+info.description.scientificName+"</i>)";
$("div#name").html("<h1>"+description+"</h1>");
$("div#description").html(info.description.description);
if(info.description.acknowledgements) {
	$("div#acknowledgements").append("<h2>ACKNOWLEDGEMENTS</h2>");
	$("div#acknowledgements").append(info.description.acknowledgements);
}
$("div#lastUpdated").html(info.description.lastUpdated);
</script>

<script src="/lib/pako/pako.min.js"></script>
<script src="/lib/mylogin/login.js"></script>

<script>
function loadScript(script) {
	var def=new $.Deferred();
	var s = document.createElement("script");
	s.src = script;
	s.onload=function(){console.log("loaded",script,new Date());def.resolve(s);}
	s.onerror=function(e){console.log("unable to load",script);def.reject(e);}
	document.body.appendChild(s);
	return def.promise();
}
function enterEditMode() {
	// add black overlay
	var black=$("<div id='blackOverlay'>");
	black.css({position:'fixed',top:0,left:0,width:'100%',height:'100%','z-index':5,'background-color':'black'});
	$('body').append(black);
	
	// configure display mode
	$("#atlasMaker").removeClass('display-mode');
	$("#atlasMaker").addClass('edit-mode');
	$("#atlasMaker").detach().appendTo('body');
	AtlasMakerWidget.editMode=1;
	AtlasMakerWidget.resizeWindow();
	
	// configure toolbar for edit mode
	$("div#toolbar").draggable({containment:AtlasMakerWidget.container});
	$("div#toolbar").resizable({
		resize:function() {
			$("#log").outerHeight(
				$(this).height()
				-$("#controls").outerHeight(true)
				-$("label#chat").outerHeight(true)
				-$("#msg").outerHeight(true)
				-4
			)
		}
	});

	// add close button
	var exit=$("<div>Close</div>");
	exit.css({position:'absolute',top:'5px',right:'5px',color:'white',fontFamily:'sans-serif',fontSize:'1rem'});
	exit.click(function(){exit.remove();exitEditMode();});
	$("#atlasMaker").append(exit);
}
function exitEditMode() {
	// remove black overlay
	$("#blackOverlay").remove();
	
	// go back to display mode
	$("#atlasMaker").removeClass('edit-mode');
	$("#atlasMaker").addClass('display-mode');
	$("#atlasMaker").detach().appendTo('#stereotaxic')	;
	AtlasMakerWidget.editMode=0;
	AtlasMakerWidget.resizeWindow();

	// configure toolbar for display mode
	$("div#toolbar").draggable('destroy');
	$("div#toolbar").resizable('destroy');
	$("div#toolbar").removeAttr("style");
}
function selectAtlas(index) {
	console.log("> selectAtlas",index);
	AtlasMakerWidget.configureAtlasMaker(info,index);
	$("#atlas_download").attr("href","/data/"+info.name+"/"+info.mri.atlas[index].filename);
}

MyLoginWidget.init($("#MyLogin"));

if(info.mri.brain) {
	$("#data").append('<div id="stereotaxic"></div>');

	// Add MRI download link
	$("#stereotaxic").append("<a class='download_MRI download' href='/data/"+info.name+"/"+info.mri.brain+"'></a>");
	
	// Add Atlas edit and selection links
	$("#stereotaxic").append("<span class='edit_Atlas download'></span>");
	var i,html=[
		"<a id='atlas_download' href=''><img src='/img/download.svg' style='vertical-align:middle'/></a>",
		"<img src='/img/edit.svg' onclick='enterEditMode()' style='vertical-align:middle'/>",
		"<select onchange='selectAtlas(this.value)'>"
	];
	for(i=0;i<info.mri.atlas.length;i++)
		html.push('	<option value='+i+'>'+info.mri.atlas[i].name+'</option>');
	html.push('</select>');
	$("#stereotaxic").find(".edit_Atlas").append(html.join(""));
	$("#atlas_download").attr("href","/data/"+info.name+"/"+info.mri.atlas[parseInt($("select").val())].filename);
	
	// Add AtlasMaker
	$("#stereotaxic").append('<div id="atlasMaker"></div>');
	$("#atlasMaker").addClass('display-mode');
	var s = document.createElement("script");
	s.src = "/js/atlasMaker.js";
	s.onload=function(){
		AtlasMakerWidget.initAtlasMaker($("#atlasMaker"))
		.then(function() {
			AtlasMakerWidget.configureAtlasMaker(info,0);
			AtlasMakerWidget.progress=$("#stereotaxic").find(".download_MRI");
		});
	}
	document.body.appendChild(s);
}

if(info.mesh) {
	loadScript("/lib/three.min.js")
	.then(function(){return loadScript("/lib/TrackballControls.js")})
	.then(function(){return loadScript("/lib/PLYLoader.js")})
	.then(function(){return loadScript("/lib/CopyShader.js")})
	.then(function(){return loadScript("/lib/SSAOShader.js")})
	.then(function(){return loadScript("/lib/EffectComposer.js")})
	.then(function(){return loadScript("/lib/RenderPass.js")})
	.then(function(){return loadScript("/lib/MaskPass.js")})
	.then(function(){return loadScript("/lib/ShaderPass.js")})
	.then(function() {
		var s = document.createElement("script");
		s.src = "/js/myMesh.js";
		s.onload=function(){
			console.log("ready to init mesh");

			$("#data").append([
				'<h2 class="Mesh"></h2>',
				'<div id="surface"></div>'
			].join("\n"));

			MyMeshViewer.init_mesh(info.name,$("h2.Mesh"),$("#surface")[0]);
		}
		document.body.appendChild(s);
	});
}

</script>

<script src="/lib/jquery.ui.touch-punch.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50078058-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
