<html>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<head>
<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/lib/jquery-ui.css">
<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/atlasMaker.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/lib/jquery-ui.css">
<script src="/lib/jquery-1.11.0.min.js"></script>
<script src="/lib/jquery-ui.js"></script>
<script src="/lib/jquery.ui.touch-punch.min.js"></script>
<script src="/lib/pako/pako.min.js"></script>
</head>

<body ontouchmove="BlockMove(event);"> <!-- block move on tablets -->
<script>function BlockMove(e){e.preventDefault()}</script>

<!-- Login -->
<div id="login" style="position:absolute;top:5px;right:5px"></div>
<div id="info" style="position:absolute;bottom:5px;right:5px"></div>
<script>
	var	s = document.createElement('script');
	s.async=false;
	s.src="/lib/mylogin/login.js";
	document.body.appendChild(s);
</script>

<!-- AtlasMaker -->
<script>
	var AtlasMaker=[{
			name:"<!--SPECIMEN-->",
			url:"/data/<!--SPECIMEN-->/info.txt",
			atlasName:"<!--ATLAS-->"
		}];
	var	s = document.createElement('script');
	s.async=false;
	s.src="/js/atlasMaker.js";
	document.body.appendChild(s);
</script>

</body>
</html>
