<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,300,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/info.css" type="text/css" media="screen, projection" />
	<script src="/lib/jquery-1.11.0.min.js"></script>
	<script src="/lib/mylogin/login.js"></script>
	<style>
	.blog a {
		text-decoration:none;
	}
	.blog a:hover {
		text-decoration:underline;
	}
	</style>
</head>

<body>

<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div id="myinner">
			<h1 style="display:inline-block">
				<a class="menu nodecoration" href="/" target="_top">
					Brain Catalogue
				</a>
			</h1>
			<div id="menu">
				<div id="login" class="menu">Login</div>
				<a class="menu" href="blog">Blog</a>
				<a class="menu" href="about.html">About</a>
				<a class="menu" href="http://siphonophore.org/blog/?cat=3&feed=rss2">
					<img src="/img/feed-icon.svg" width="14px" height="14px"/>
				</a>
			</div>
		</div>
	</header><!-- #header-->
		
	<!-- 2. Middle -->
	<section id="middle">
		<div id="container">
		<!--Core-->
		</div> <!-- container -->
	</section> <!-- middle -->
	
</div> <!-- wrapper -->

<footer id="footer">
	<div>
		<table>
		<tr>
		<td>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
		<img align="left" alt="Creative Commons License" src="/img/88x31.png" />
		</a>
		</td>
		<td>
		<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Brain Catalogue</span> by
		<a xmlns:cc="http://creativecommons.org/ns#" href="siphonophore.org/braincatalogue" property="cc:attributionName" rel="cc:attributionURL">Roberto Toro</a>
		is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
		</td>
		</tr>
		</table>
	</div>
</footer> <!-- footer -->

<script>
	MyLoginWidget.init();
</script>

</body>
</html>

