<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/common.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="css/info.css" type="text/css" media="screen, projection" />
<script src="js/jquery-1.11.0.min.js"></script>
<style>
.blog a {
	text-decoration:none;
}
.blog a:hover {
	text-decoration:underline;
}
</style>
</head>

<body style="color: rgb(0,0,0); background-color:rgb(255,255,255);" alink="#ff9900" link="#666666" vlink="#999999">

<div id="wrapper">

	<header id="header">
		<div id="myinner">
			<h1><a class="nodecoration" href="/" target="_top">Brain Catalogue</a></h1>
			<hr size="1px">
			<p style="text-align:right">
				<a class="nodecoration" href="about.html" style="padding:5px">About</a>
				<a class="nodecoration" href="blog" style="padding:5px">Blog</a>
				<a class="nodecoration" href="contact.html" style="padding:5px">Contact</a>
				<a class="nodecoration" href="http://siphonophore.org/blog/?cat=3&feed=rss2" style="padding:5px"><img src="feed-icon.svg" width="14px" height="14px"/></a>
			</p>
		</div>
	</header><!-- #header-->
		
		<!-- 2. Middle -->
	<section id="middle">
		<div id="container">
		<!--Core-->
		</div> <!-- container -->
	</section> <!-- middle -->
	
</div> <!-- wrapper -->

<footer id="footer">
	<div style="padding:10px 10px">
		<table>
		<tr>
		<td>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
		<img align="left" alt="Creative Commons License" style="border:1px solid white" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
		</a>
		</td>
		<td style="font-size:0.8rem;color:#fff;font-family:sans-serif">
		<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">braincatalogue</span> by
		<a xmlns:cc="http://creativecommons.org/ns#" href="siphonophore.org/braincatalogue" property="cc:attributionName" rel="cc:attributionURL">Roberto Toro</a>
		is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
		</td>
		</tr>
		</table>
	</div>
</footer> <!-- footer -->

</body>
</html>

