<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><!--SPECIMEN--></title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,300,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/lib/jquery-ui.css">
	<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/specimen.css" type="text/css" media="screen, projection" />
	<style>
		.ui-slider {height:2px}
		.ui-slider-handle {height:10px !important}
	</style>
</head>

<body>

<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div id="myinner">
			<h1 style="display:inline-block">
				<a class="menu nodecoration" href="/" target="_top">
					Brain Catalogue
				</a>
			</h1>
			<div id="menu">
				<div id="login" class="menu">Login</div>
				<a class="menu" href="blog">Blog</a>
				<a class="menu" href="about.html">About</a>
				<a class="menu" href="http://siphonophore.org/blog/?cat=3&feed=rss2">
					<img src="/img/feed-icon.svg" width="14px" height="14px"/>
				</a>
			</div>
		</div>
	</header><!-- #header-->

	<section id="middle">
		<div id="container">
			<div id="content">
			
				<!-- 3.1.1 Picture -->
				<aside id="sideLeft">
					<div id="picture"></div>
				</aside><!-- #sideLeft -->

				<!-- 3.1.2 Name -->
				<div id="name"></div>
				<br>
				
				<!-- 3.1.3 Description -->
				<div id="description"></div>

				<!-- 3.1.4 Data -->
				<div id="data"><!--DATAVIEW--></div>
				
				<!-- 3.1.5 Acknowledgments -->
				<p><div id="acknowledgements"></div>
			</div><!-- #content-->
		</div><!-- #container-->

	</section><!-- #middle-->

</div><!-- #wrapper -->

<div style="margin-bottom:100px;"></div>

<footer id="footer">
	<div>
		<table>
		<tr>
		<td>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
		<img align="left" alt="Creative Commons License" src="/img/88x31.png" />
		</a>
		</td>
		<td>
		<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Brain Catalogue</span> by
		<a xmlns:cc="http://creativecommons.org/ns#" href="siphonophore.org/braincatalogue" property="cc:attributionName" rel="cc:attributionURL">Roberto Toro</a>
		is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
		</td>
		</tr>
		</table>
	</div>
</footer> <!-- footer -->

<!-- External -->
<script src="/lib/jquery-1.11.0.min.js"></script>
<script src="/lib/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/lib/jquery.ui.touch-punch.min.js"></script>
<script src="/lib/pako/pako.min.js"></script>

<!-- RT code -->
<script src="/lib/mylogin/login.js"></script>

<script>

var root='/data/<!--SPECIMEN-->/';
var volume;

// load stored description from wikipedia
jQuery.getJSON(root+'info.txt',function(data)
{
	jQuery("div#test").append("[R]");

	// Load image
	jQuery("div#picture").html("<img class='picture' src='"+root+"picture.jpg'/>");

	// Load text
	var description=data.description.commonName;
	if(data.description.scientificName!=undefined)
		description+=" (<i>"+data.description.scientificName+"</i>)";
	jQuery("div#name").html("<h1>"+description+"</h1>");
	jQuery("div#description").html(data.description.description);
	if(data.description.acknowledgements) {
		jQuery("div#acknowledgements").append("<h2>ACKNOWLEDGEMENTS</h2>");
		jQuery("div#acknowledgements").append(data.description.acknowledgements);
	}
	jQuery("div#lastUpdated").html(data.description.lastUpdated);
	
	if(data.html) {
		jQuery("#data").load(root+"/"+data.html);
	}
});

function loadScript(script) {
	var def=new $.Deferred();
	var s = document.createElement("script");
	s.src = script;
	s.onload=function(){console.log("loaded",script,new Date());def.resolve(s);}
	s.onerror=function(e){console.log("unable to load",script);def.reject(e);}
	document.body.appendChild(s);
	return def.promise();
}

if($(".MRI").length) {
	var s = document.createElement("script");
	s.src = "/js/myStereotaxic.js";
	s.onload=function(){
		$("#slider").slider({slide: changeSlice,min:0,max:100,value:50});
		$("#radio").buttonset();
		$('#radio input[type=radio]').change(function(){changeView($(this).attr('id'))})
		init_stereotaxic("<!--SPECIMEN-->",$("h2.MRI"));
	}
	document.body.appendChild(s);
}

if($(".Mesh").length) {
	loadScript("/lib/three.min.js")
	.then(function(){loadScript("/lib/TrackballControls.js")})
	.then(function(){loadScript("/lib/OrbitControls.js")})
	.then(function(){loadScript("/lib/PLYLoader.js")})
	.then(function(){loadScript("/lib/CopyShader.js")})
	.then(function(){loadScript("/lib/SSAOShader.js")})
	.then(function(){loadScript("/lib/EffectComposer.js")})
	.then(function(){loadScript("/lib/RenderPass.js")})
	.then(function(){loadScript("/lib/MaskPass.js")})
	.then(function(){loadScript("/lib/ShaderPass.js")})
	.then(function() {
		var s = document.createElement("script");
		s.src = "/js/myMesh.js";
		s.onload=function(){
			console.log("ready to init mesh");
			init_mesh("/data/<!--SPECIMEN-->/mesh.js",$("h2.Mesh"));
			animate();
		}
		document.body.appendChild(s);
	});
}

MyLoginWidget.init();

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50078058-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
